<%- include("../cabecalho.ejs") -%>

    <form method="POST">
        <input type="text" name="pesquisar" id="pesquisar">
        <select name="opcao">
            <option value="nome">Nome</option>
            <option value="email">E-mail</option>
        </select>
        <input type="submit" value="Pesquisar">
    </form>

    <table>
        <tr>
            <th>id</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Senha</th>
            <th>Foto</th>
            <th>Editar</th>
            <th>Delete</th>
        </tr>
        <% Usuarios.forEach(function(usuario){ %>
        <tr>
            <td> <%=usuario._id%> </td>
            <td> <%=usuario.nome%> </td>
            <td> <%=usuario.email%> </td>
            <td> <%=usuario.senha%> </td>
            <td> <%=usuario.foto%> </td>
            <td><a href="/usuario/edit/<%=usuario._id%>"><img style = "max-width: 40px;" src="/edit.png"></a></td>
            <td><a href="/usuario/del/<%=usuario._id%> "><img style = "max-width: 40px;" src="/del.png"></a></td>
        </tr>
        <% }) %>
       
    </table>

<%- include("../rodape.ejs") -%>